@using Intranet.Models
@model Intranet.Models.NewPORViewModel
@{
    ViewBag.Title = "POR Creation";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}

<script src="@Url.Content("~/Scripts/DynamicRowList/jquery.mvc-template-row.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AutoResize/jquery.autosize-min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/stickyTableHeaders.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/iphone-style-checkboxes.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/autoBind.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.hotkeys.js")" type="text/javascript"></script>
<script src="../../Scripts/Chosen/chosen.jquery.js"></script>
<link href="../../Content/chosen.min.css" rel="stylesheet" />
<div class="content-loader content-back-white">
    <img class="loading-img" src='@Url.Content("~/Content/Images/MetroLoader.gif")' alt=" " />
</div>
@using (Ajax.BeginForm("NewCreate", "POR", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Message", OnSuccess = "FormOnComplete" }))
{
    <div class="span14">
        <div>
            <div class="row no-margin-left">
                <div class="span2">
                    <h5>AVR
                    </h5>
                    @Html.EditorFor(m => m.AVRId)
                    @Html.ValidationMessageFor(m => m.AVRId)
                </div>
                <div class="span3">
                    <h5>Activity
                    </h5>
                    @Html.EditorFor(m => m.ActivityId)
                    @Html.ValidationMessageFor(m => m.ActivityId)
                </div>
                <div id="b">
                </div>
            </div>
        </div>
        <div id="ItemTable">
        </div>
    </div>
  
}
<script type="text/javascript">
    $(window).keydown(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });
    $(document).ready(function () {

        var PositionList;
        kendo.culture("ru-RU");
        $("#AVRId").width(120).kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            placeholder: "Select...",
            filter: "contains",
            suggest: true,
            change: AVROnChange,
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("GetAVRList", "Json")',
                        dataType: "json"
                    }
                }
            }
        });
        $("#ActivityId").width(430).kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            placeholder: "Select...",
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("ActivityList", "Json")',
                        dataType: "json"
                    }
                }
            },
            filter: "contains",
            //            height: 500,
            suggest: true
        });
        PageLoaded();
        $('#form').find('.input').keypress(function (e) {
            if (e.which == 13) // Enter key = keycode 13
            {
                $(this).next().focus();  //Use whatever selector necessary to focus the 'next' input
            }
            return false;
        });

    });
    function Init() {
        PositionList = GetPositionList();
        DynamicList();
        DrawFields();
        Stripes();
        $(':checkbox').iphoneStyle();
        $("#PriceTotal").width(110).kendoNumericTextBox({
            decimals: 2,
            spinners: false
        });
        //дисаблим окошко с полной ценой
        //        $("#TotalPrice").data("kendoNumericTextBox").enable(false);
        $("#PriceTotalSH").width(110).kendoNumericTextBox({
            decimals: 2,
            spinners: false
        });
        //дисаблим окошко с полной ценой
        //        $("#SHTotalPrice").data("kendoNumericTextBox").enable(false);
        function startChange() {

            OnDatesChange();
            var startDate = start.value(),
                          endDate = end.value();

            if (startDate) {
                startDate = new Date(startDate);
                startDate.setDate(startDate.getDate());
                end.min(startDate);
            } else if (endDate) {
                start.max(new Date(endDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }
        function endChange() {
            OnDatesChange();
            var endDate = end.value(),
                          startDate = start.value();

            if (endDate) {
                endDate = new Date(endDate);
                endDate.setDate(endDate.getDate());
                start.max(endDate);
            } else if (startDate) {
                end.min(new Date(startDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        var start = $("#WorkStart").width(110).kendoDatePicker({
            change: startChange
        }).data("kendoDatePicker");

        var end = $("#WorkEnd").width(110).kendoDatePicker({
            change: endChange
        }).data("kendoDatePicker");

        start.max(end.value());
        end.min(start.value());
    }
    function OnDatesChange() {

        $(".content-loader").show();
        //Изменяем список позиций
        //Обнуляем все позиции
        $("[id$='PositionId']").data("kendoComboBox").setDataSource(GetPositionList());
        $("[id$='PositionId']").data("kendoComboBox").value("ECRADD");
        //Обнуляем все цены
        $("#PriceTotal").val("");
        $("[id$='Price']").val("");
        //        $("[id$='PricePerItem']").data("kendoNumericTextBox").value("");
        $(".content-loader").fadeOut();
    }
    //Страница загружена
    function PageLoaded() {
        $(".content-loader").fadeOut();
        //        $(".content-loader").removeClass("content-back-white");
    }
    //События при выборе АВРа
    function AVROnChange() {
        $("#ActivityId").data("kendoComboBox").text('');
        $("[id$='PositionId-list']").remove();
        $(".content-loader").show();
        var AVRItemListView;
        //Получаем данные для выбранного ПОРа
        AVRItemListView = GetAVRItemList();
        if (AVRItemListView != null) {
            //Находим дивку с данными по AVR
            avrData = $(AVRItemListView).filter('#avr-header');
            $('#b').empty();
            $(avrData).appendTo('#b')
            //Удаляем эту дивку из полученной странички
            tableData = $(AVRItemListView).filter('#avr-table');
            $("#ItemTable").html(tableData);
            //Инициализируем обьекты кендо в табличке
            Init();
            $('textarea').autosize();
            //            if ($('#scrolldiv').hasScrollBar()) {
            //                var table = $(".table")[0];
            //                console.log('table-',table);
            //                if (table) {
            //                    
            //                    var headers = table.find('th');
            //                    console.log('headers-',headers);
            //                    var newtable = $("#avr-table").prepend("<div class='row no-margin-left' style='z-index: 1;'><div class='span1320 scroll-table-ws' style='height:60px;'><table  class='table table-bordered'><thead></thead></table></div></div>");
            //                    newtable.find('thead').append(headers);
            //                    $('#scrolldiv').scroll(function () {
            //                        
            //                        if ($(".table").find('thead').is(":visible")) {
            //                            alert('visible');
            //                        } else {
            //                            alert('invisible');
            //                        }

            //                    })
            //                }

            //            }
            $("table").stickyTableHeaders();
        }
        $(".content-loader").fadeOut();

        var arvNum = $("[name='AVRId_input']").val();
        if (arvNum == "100472") {
            autoMapLoader();
        }
    }






    //Получение данных о ПОРе
    function GetAVRItemList() {
        var calb = null;
        var d = { AVRId: $("#AVRId").val() };
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAVRDataById", "POR")',
            contentType: "application/json",
            async: false,
            data: JSON.stringify(d),
            success: function (response) {
                if (response.Status == "error") {
                    noty({
                        text: response.Message,
                        type: "error",
                        layout: 'topLeft',
                        closeWith: ['hover']
                    });
                } else {
                    calb = response;
                }

            }
        });

        return calb;
    }
    //Добавление новой строчки , инициализация элементов кендо
    function DynamicList() {
        //$("[id$='PositionId']").width(340).kendoComboBox({
        //    dataTextField: "text",
        //    dataValueField: "value",
        //    placeholder: "Select...",
        //    dataSource: PositionList,
        //    filter: "contains",
        //    height: 500,
        //    suggest: true,
        //    change: CodeOnChange
        //});
        for (var k in PositionList) {
            $("[id$='PositionId']").append('<option value="' + PositionList[k].value + '">' + PositionList[k].text + '</option>');
          //  console.log(k, PositionList[k]);
        }

       


      //  $("[id$='PositionId']").chosen({ disable_search_threshold: 10 });
        //        $("[id$='Quantity']").width(110).kendoNumericTextBox({
        //            decimals: 3,
        //            min: 0,
        //            step: 0.01,
        //            change: CodeOnChange
        //        });
        $("[id$='Quantity']").each(function () {
            $(this).val(NumParse($(this).val()).toString().replace('.', ','));
        });
        $("[id$='Koeff']").width(80).kendoNumericTextBox({
            decimals: 4,
            min: 0,
            change: CodeOnChange
        });


        //        $("[id$='Price']").width(110).kendoNumericTextBox({
        //            decimals: 2,
        //            spinners: false
        //        });
        //        $("[id$='PricePerItemSH']").width(110).kendoNumericTextBox({
        //            decimals: 2,
        //            spinners: false
        //        });
        $("[id$='Price']").each(function () {
            $(this).val(NumParse($(this).val()).toString().replace('.', ','));
        });

        $("[id$='PricePerItemSH']").each(function () {
            $(this).val(NumParse($(this).val()).toString().replace('.', ','));
        });
        $("[id$='PricePerItem']").each(function () {
            $(this).val(NumParse($(this).val()).toString().replace('.', ','));
        });
        $("[id$='PriceSH']").each(function () {
            $(this).val(NumParse($(this).val()).toString().replace('.', ','));
        });

    }
    ///Высвечиваем сообщение при сабмите формы
    function FormOnComplete(data) {
        $("#por-message").empty();
        $("#por-message").show();
        if (data.Success) {
            $("#por-message").append("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>×</button>" + data.Message + "<a href='" + data.Url + "'> Распечатать созданный ПОР.</a></div>");
        } else {
            $("#por-message").append("<div class='alert alert-error'><button type='button' class='close' data-dismiss='alert'>×</button>" + data.Message + "</div>");
        }
    }
    //Обновление списка позиций при изменении параметров
    function GetPositionList() {
        var calb = null;
        var d = { SubcId: $("#SubcId").val(), ProjectId: $("#ProjectId").val(), WorkStart: $("#WorkStart").val(), WorkEnd: $("#WorkEnd").val() };
        $.ajax({
            type: "POST",
            url: '@Url.Action("PositionListWithECR", "Json")',
            contentType: "application/json",
            async: false,
            data: JSON.stringify(d),
            success: function (response) {
                calb = eval(response);
            }
        });
        return calb;
    }
    //Определение имени поля
    //Items зашито в конструкторе Js файла jquery.mvc-template-row.js
    function GetFieldName(pk) {
        return "Items_" + Math.abs(pk) + "__";
    }
    //Событие изменения кода позиции в конкретной строке
    function CodeOnChange(data) {

        if (this.value() && this.selectedIndex == -1) {
            // var dt = this.dataSource._data[0];                
            this.text('');
            this._selectItem();
        }
        //Определяем номер строчки
        var tr = $("#" + this.element.attr("id")).closest('tr');

        var key = tr.attr('pk');



        InsertPrices(key);





        //фокус на след поле ввода
        SetFocus(key);

        // автоматическое заполнение
        AutoFillKendoComboBox(key);

        DrawFields();


    }//конец функции onChange

    function InsertPrices(key) {
        var FieldName = GetFieldName(key)
        //Проверяем код на ECRADD
        var KendoPosition = $("#" + FieldName + "PositionId");
        var priceKendo = $("#" + FieldName + "Price");
        var pricePerItemKendo = $("#" + FieldName + "PricePerItem");
        var pricePerItemSHKendo = $("#" + FieldName + "PricePerItemSH");
        var priceSHKendo = $("#" + FieldName + "PriceSH");
        var quantityKendo = $("#" + FieldName + "Quantity");
        var koeffKendo = $("#" + FieldName + "Koeff");
        //  priceSHKendo.val(NumParse(pricePerItemSHKendo.val()) * NumParse(quantityKendo.val()) * NumParse(koeffKendo.val()));
        priceSHKendo.val(priceSHKendo.val().replace('.', ','));

        if (KendoPosition.val() != "") {
            if (KendoPosition.val() == '@DbModels.Constants.ECRAddId') {
                priceKendo.val((NumParse(pricePerItemSHKendo.val()) * NumParse(quantityKendo.val()) * NumParse(koeffKendo.val())).toFixed(2).replace('.', ','));
            } else {
                var PriceResponse = GetCodeTotalPrice(FieldName);
                var price = PriceResponse.price;
                var pricePerItem = PriceResponse.pricePerItem;
                priceKendo.val(price.toString().replace('.', ','));
                pricePerItemKendo.val(pricePerItem.toString().replace('.', ','));
            }
            CalculateTotalAVRPrice();
        }
        CalculateTotalAVRPriceSH();
    }

    function SetFocus(key) {
        $("[name*='[" + (parseInt(key) + 1) + "].PositionId']:first").focus();
    }


    // разукрашивает в зеленые поля
    function DrawFields() {
        //раскраска полей
        $("tr.TableRow").each(function () {
            var price = $(this).children().children("[id$='__Price']:first");
            var shprice = $(this).children().children("[id$='__PriceSH']:first");
            if (NumParse(price.val()) == NumParse(shprice.val())) {
                price.css('background-color', '#CEF0D1');
                shprice.css('background-color', '#CEF0D1');
            }
            else {
                price.css('background-color', '#EEE');
                shprice.css('background-color', '#EEE');
            }

        }
            )

        var pricetotal = $('#PriceTotal');
        var pricetotalsh = $('#PriceTotalSH');
        if (NumParse(pricetotal.val()) == NumParse(pricetotalsh.val())) {
            pricetotal.siblings('.k-formatted-value').css('background-color', '#CEF0D1');
            pricetotalsh.siblings('.k-formatted-value').css('background-color', '#CEF0D1');

        }
        else {
            pricetotal.siblings('.k-formatted-value').css('background-color', '#EEE');
            pricetotalsh.siblings('.k-formatted-value').css('background-color', '#EEE');
        }
    }

    //Получение цены для конкретной позиции с учетом коэф-та и количества
    function GetCodeTotalPrice(FieldName) {
        var calb = null;
        var d = {
            SubcId: $("#SubcId").val(), ProjectId: $("#ProjectId").val(),
            WorkStart: $("#WorkStart").val(), WorkEnd: $("#WorkEnd").val(),
            PriceListId: $("#" + FieldName + "PositionId").val(),
            Quantity: $("#" + FieldName + "Quantity").val(),
            Coeff: $("#" + FieldName + "Koeff").val()
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCodeTotalPriceAndPricePerItem", "POR")',
            contentType: "application/json",
            async: false,
            data: JSON.stringify(d),
            success: function (response) {
                calb = eval(response);
            }
        });
        return calb;
    }
    function CalculateTotalAVRPrice() {
        var Sum = 0;
        var Table = $("#ItemTable");
        var d = Table.find("[id$='Price']");
        d.each(function (key) {
            Sum += NumParse($("#" + this.id).val());
        });
        SetAVRTotalPriceValue(Sum);
    }
    function CalculateTotalAVRPriceSH() {
        var Sum = 0;
        var Table = $("#ItemTable");
        var d = Table.find("[id$='PriceSH']");
        d.each(function (key) {
            var numerictextbox = $("#" + this.id);
            Sum += NumParse(numerictextbox.val());
        });
        SetAVRTotalPriceSHValue(Sum);
    }
    function NumParse(text) {
        return parseFloat(text.replace(',', '.'), 10);
    }
    function SetAVRTotalPriceValue(value) {
        $("#PriceTotal").data("kendoNumericTextBox").value(value);
    }
    function SetAVRTotalPriceSHValue(value) {
        $("#PriceTotalSH").data("kendoNumericTextBox").value(value);
    }



    (function ($) {
        $.fn.hasScrollBar = function () {
            return this.get(0).scrollHeight > this.height();
        }
    })(jQuery);

    function Darker(red, green, blue, multiplier) {
        //        var max = ([red, green, blue].sort(function (l, r) { return r - l }))[0];
        //        var multiplier = max;
        //        multiplier = (multiplier / 255) + 1;
        //        if (multiplier < 1.5) multiplier = 1.9;

        //        if ((max * multiplier) > 255) {
        //            multiplier = (multiplier / 230) + 1;
        //        }


        var r = Math.round(red / multiplier);
        var g = Math.round(green / multiplier);
        var b = Math.round(blue / multiplier);

        if (r > 255) r = 255;
        if (g > 255) g = 255;
        if (b > 255) b = 255;

        return "rgb(" + r + "," + g + "," + b + ")";
    }

    function Stripes() {
        $('tr:nth-child(3n+1)').children("td").each(function () {
            var color = $(this).css("background-color");
            color = color.replace(/[^0-9,]+/g, "");
            var red = color.split(",")[0];
            var gre = color.split(",")[1];
            var blu = color.split(",")[2];

            $(this).css("background-color", Darker(red, gre, blu, 1.08));
        })
    }

</script>
