<ul class="nav">
    <li class="dropdown active"><a href="@Url.Content("~/home")" id="about">Home</a></li>
    @*       <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
            PriceLists
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Content("~/PriceList")">PriceLists</a></li>
                <li><a href="@Url.Content("~/Import")">PriceList import logs</a></li>
                <li><a href="@Url.Content("~/ExportToExcel/GetAllPriceLists")">Export all items</a></li>
            </ul>
        </li>  *@
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Price
            Lists<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Content("~/PriceList")">PriceLists</a></li>
            <li><a href="@Url.Content("~/Import")">PriceList import logs</a></li>
            <li class="divider"></li>
            <li class="nav-header">Export</li>
            <li><a href="@Url.Content("~/ExportToExcel/GetAllPriceLists")">Export all items</a></li>
            <li><a href="@Url.Content("~/ExportToExcel/GetActivePriceLists")">Export active items</a></li>


            <li>@Html.ActionLink("Export PL for Subc", "SubcReport", "PriceList")</li>
            <li class="divider"></li>
            <li class="nav-header">Analysis</li>
            <li><a href="@Url.Content("~/PriceList/ComparePriceList")">Por Analyzer</a></li>

            <li><a href="@Url.Content("~/PriceList/PriceListComparer")">PriceListComparer</a></li>

        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            PORs<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Content("~/POR/Create")">Create POR</a></li>
            <li><a href="@Url.Content("~/POR/NewCreate")">Create POR From SH</a></li>
            <li class="divider"></li>
            <li><a href="@Url.Content("~/AVR/Preprice")">AVR Prepricing</a></li>
            <li class="divider"></li>
            <li class="nav-header">Manage</li>
            <li><a href="@Url.Content("~/POR/Index")">PORs list</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            TOs<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Content("~/TO/CreateTODoc")">TO pricing</a></li>
            @*<li><a href="@Url.Content("~/TO/CreateTODocv2")">TO pricing (light)</a></li>*@
            <li><a href="@Url.Content("~/TO/TODocs")">TO Order printout</a></li>
            <li><a href="@Url.Content("~/Act/CreateAct")">Create Act</a></li>
            <li><a href="@Url.Content("~/Act/ActList")">ActList</a></li>
            <li><a href="@Url.Content("~/POR/DelPorDrafts")">TO Agreements</a></li>

        </ul>
    </li>

    @* <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
            POR`s
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Content("~/POR/Create")">Create POR</a></li>
                <li><a href="@Url.Content("~/Import")">POR`s list</a></li>

            </ul>
        </li>   *@ @*    <li><a href="@Url.Content("~/PriceList")" id="priceList">PriceLists</a></li>
        <li><a href="@Url.Content("~/Import")" id="ImportLogs">ImportLogs</a></li>   *@
        <li><a href="@Url.Content("~/subcontractors")" id="about">SubContractors</a></li>
        @if (User.Identity.Name == @"ERICSSON\ealgori"
        || User.Identity.Name == @"ERICSSON\eksenaz"
        || User.Identity.Name == @"ERICSSON\echeale")
        {
            <li><a href="@Url.Content("~/AVRDistribution/index")" id="about">AVR recipients</a></li>
        }
        <li><a href="@Url.Content("~/home/about")" id="about">About</a></li>
    </ul>

