@model Intranet.Models.PORItemViewModel
<tr pk="@Model.Id" class="TableRow">
    <td>
        @Html.HiddenFor(m => m.Id)
        @Html.EditorFor(m => Model.PositionId)
        @Html.ValidationMessageFor(m => Model.PositionId)
    </td>
    <td>
        @Html.EditorFor(m => Model.Quantity)
        @Html.ValidationMessageFor(m => Model.Quantity)
    </td>
    <td>
        @Html.EditorFor(m => Model.Koeff)
        @Html.ValidationMessageFor(m => Model.Koeff)
    </td>
    <td>
        @Html.EditorFor(m => Model.Price)
    </td>
    <td>
        <input class="delete btn btn-small btn-danger" type="button" value="Remove" />
    </td>
</tr>
@*<div id="window" + '@Model.Id'>
    @Html.EditorFor(m => m.CustomPrice)
    @Html.EditorFor(m => m.CustomDescription)
    @Html.EditorFor(m => m.CustomUnit)
</div>*@
