@{
    ViewBag.Title = "CreateAct";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}




@using Intranet.Models
@model Intranet.Models.ActModel

<script src="@Url.Content("~/Scripts/Site/ActCreate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DynamicRowList/jquery.mvc-template-row.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/stickyTableHeaders.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/iphone-style-checkboxes.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/autoBind.js")" type="text/javascript"></script>
<link href='@Url.Content("~/Content/style.css")' rel="stylesheet" />
<div class="content-loader content-back-white">
    <img class="loading-img" src='@Url.Content("~/Content/Images/MetroLoader.gif")' alt=" " />
</div>
@using (Ajax.BeginForm("CreateAct", "Act", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Message", LoadingElementId = "to-loading", OnSuccess = "FormOnComplete", OnComplete = "Enablebtn", OnBegin = "Disablebtn", OnFailure = "alert('Ошибка. Пожалуйста сообщите администратору')" }))
{
    <div class="span row">
        <div class="row">
        </div>
        <div class="row">
            <div class="span7">
                <h5>
                    TO
                </h5>
                <select class="valid" id="year">
                 
                    <option  value="2015">2015</option>
                    <option selected="selected" value="2016">2016</option>
                    <option value="2017">2017</option>
                </select>
                @Html.EditorFor(m => m.TO)
                <button type="button" title="Отфильтровать позиции по которым выпущен акт." class="btn pushed-button" id="filter-bt"><i class="icon-filter"></i></button>
               
                <input type="checkbox" hidden checked class="extraLarge" value="true" name="Filter" id="filter-cb">
                <i class=" icon-question-sign hint"
                       title="Условия появления в этом списке:<ul><li>ТО с подтверждением выполнения работ</li><li>Указан PO номер</li><li>Присутствуют утвержденные позиции</li><li>Положение переключателя отображения</li></ul>"
                   data-placement='bottom'
                   data-html="true">


                </i>

                @Html.ValidationMessageFor(m => m.TO)
            </div>



        </div>
        <div class="row">
            <div class="span2-5">
                <h5>
                    @Html.LabelFor(l => l.StartDate)
                </h5>
                @Html.TextBoxFor(m => m.StartDate)
                @Html.ValidationMessageFor(m => m.StartDate)
            </div>
            <div class="span2-5">
                <h5>
                    @Html.LabelFor(l => l.EndDate)
                </h5>
                @Html.TextBoxFor(m => m.EndDate)
                @Html.ValidationMessageFor(m => m.EndDate)
            </div>
            <div class="span1">
                <h5>
                    <label for="set-dates">Set</label>
                </h5>
                <button type="button" class="btn btn-default" id="set-dates"><i class="icon-refresh"></i></button>

            </div>
            <div class="span6">
                <dl class="dl-horizontal">
                    <dt>Регион</dt>
                    <dd class="disabled-correct" id="region"></dd>
                    <dt>Филиал</dt>
                    <dd class="disabled-correct" id="branch"></dd>

                    <dt>Подрядчик</dt>
                    <dd class="disabled-correct" id="subcontractor"></dd>
                    <dt>НДС</dt>
                    <dd class="disabled-correct" id="wat"></dd>
                    <dt>PO</dt>
                    <dd class="disabled-correct" id="po"></dd>
                    <dt>Дата PO</dt>
                    <dd class="disabled-correct" id="poDate"></dd>
                </dl>
            </div>
        </div>
        @* <div class="span3">
                    <h5>
                       <label> Автозаполнение</label>


                    </h5>
                       <span><input id="aps" type="checkbox" name="second" title="Автоматическое заполнение однотипных позиций"/></span>
                </div>



            <div class="row">
                <div class="span3">
                    <h5>
                        @Html.LabelFor(l => l.TotalPrice)
                    </h5>
                    @Html.TextBoxFor(m => m.TotalPrice, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.TotalPrice)
                </div>
                <div class="span3">
                    <h5>
                        @Html.LabelFor(l => l.Region)
                    </h5>
                    @Html.TextBoxFor(m => m.Region, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.Region)
                </div>
                <div class="span3">
                    <h5>
                        @Html.LabelFor(l => l.Brunch)
                    </h5>
                    @Html.TextBoxFor(m => m.Brunch, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.Brunch)
                </div>*@
        <p></p>

        <div class="form-controls">
            <button id="Sendbtn" name="button" type="submit" value="create" class="btn btn-warning">Create Act</button>
            @*@if (User.Identity.Name.ToUpper().Contains("EALGORI") || User.Identity.Name.ToUpper().Contains("ECHEALE"))*@
          @*  {*@
                <button id="Sendbtn" name="button" type="submit" value="autoimport" class="btn btn-primary">Autoimport template</button>
            @*}*@
            <h6>
                <div id="to-message" style="display:none">

                </div>
            </h6>
            <div id="to-loading" style="display:none">
                <img src='@Url.Content("~/Content/Images/9-1.gif")' />
            </div>

        </div>


        <br />

    </div>
    <div>
    </div>
    <div class="row">
        <div class="span16">
            <div class="">
                <div class="span6" style="float:right"><span id='checkCount' style='float:right' class='label label-info'>(0 из 0)</span></div>
                <div class="container-liquid">
                    <table class="table table-bordered" id="targetTable" style="table-layout:fixed">
                        <thead style="background-color: #32CDCD; background-position: initial initial; background-repeat: initial initial;">
                        </thead>
                        <tbody>
                            @*   @Html.EditorFor(model => Model.Items)*@
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="span12">
            <div class="">
                <div class="container-liquid">
                    <table class="table table-bordered" id="materialTable">
                        <thead style="background-color:#32CDCD; background-position: initial initial; background-repeat: initial initial;">
                        </thead>
                        <tbody>
                            @*   @Html.EditorFor(model => Model.Items)*@
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    @*{<table id="mvcTemplateTable" style="display: none;">

        //List<TOItemViewModel> Items = Model.ToItemViewModels;
        //Items.Add(new TOItemViewModel());
            }
           Html.EditorFor(m => Items)
        </table>*@

}
<script type="text/javascript">
    var PositionList;
    var toListUrl = '@Url.Action("ToListForActs", "Json")';
    var actPositionUrl = '@Url.Action("GetTOItems", "Act")';
    //    var toDataUrl = '@Url.Action("GetTODataById", "TO")';
    //    var priceListUrl = '@Url.Action("GetPriceListItemPrice", "Json")';
    $(document).ready(function () {
        $('.hint').tooltip();
    });



</script>
